<!DOCTYPE html>
<html>
    <head>
        <title>INVENTORY MANAGEMENT SOFTWARE</title>
        <meta name="author" content="IJONI VICTOR" />
        <meta name="description" content="An inventory management software with lots of exciting features" />
        <meta name="keywords" content="software, inventory, inventory management software, ijoni, victor, ijoni victor" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="~/css/shared/site.css"/>
        <link rel="stylesheet" type="text/css" href="~/css/home.css" />
    </head>
    <body>
        <div class="col-12 content">
            <div class="col-6"></div>
            <div class="col-6 col-xs-12">
                <div>
                    <form method="post" action="/Home/login">
                        @Html.AntiForgeryToken()
                        <h3>LOG IN</h3>
                        <span>Enter Email<span class="required">*</span></span><br />
                        <input type="email" required="required" name="email" class="loginInput" /><br />
                        <span>Enter Email<span class="required">*</span></span><br />
                        <input type="password" required="required" name="password" class="loginInput" /><br />
                        <p>
                            <input type="submit" value="Log In" />
                        </p>
                        <p>@ViewBag.result</p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
