<!DOCTYPE html>
<html>
    <head>
        <title>INVENTORY MANAGEMENT SOFTWARE</title>
        <meta name="author" content="IJONI VICTOR" />
        <meta name="description" content="An inventory management software with lots of exciting features" />
        <meta name="keywords" content="software, inventory, inventory management software, ijoni, victor, ijoni victor" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="~/css/shared/site.css"/>
        <link rel="stylesheet" type="text/css" href="~/css/home.css" />
    </head>
    <body>
        <div class="col-12 content">
            <div class="col-6"></div>
            <div class="col-6 col-xs-12">
                <div class="loginDiv">
                    
                        <h4>LOG IN</h4>
                        <span>Enter Email<span class="required">*</span></span><br />
                        <input type="text" placeholder="Enter email" id="email" required="required" name="email" class="loginInput" /><br />
                        <span>Enter Password<span class="required">*</span></span><br />
                        <input type="password" placeholder="Enter password" id="password" required="required" name="password" class="loginInput" /><br />
                        <a class="forgotPassword" href="/forget-password.html">Forgot Password?</a>
                        <p style="text-align:center">
                            <button class="btn btnRed" onclick="loginUser()">Login</button>
                        </p>
                      
                </div>
            </div>
        </div>
        <script src="~/js/shared/site.js"></script>
    </body>
</html>
